{% extends "base.html" %}

{% block content %}
    <div class="container">
      <div class="jumbotron p-4 p-md-5 rounded text-white bg-dark">
        <h1 class="display-4">Jayakrishnan Damodaran</h1>
        <p class="lead">Full-stack Python/Django/Flask web developer.</p>
        <hr class="my-4">
        {% include "partials/_social_media.html" with btn_size="btn-lg" %}
      </div>
    </div>
    {% include "partials/_about.html" %}
    {% include "partials/_skills.html" %}
    {% include "partials/_contact.html" %}
{% endblock %}
