<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card border-light text-center">
        <div class="card-body">
          <h5 class="card-title">About me</h5>
          <p class="card-text">
            <div class="d-flex flex-row justify-content-around font-weight-lighter font-italic text-muted">
              <div>Looking for&nbsp;<span class="badge badge-info">Full-time</span>&nbsp;jobs</div>
              <div>Willing to relocate&nbsp;<span class="badge badge-info">Yes</span></div>
            </div>
          </p>
          <p class="card-text">
            I am a Python developer and a Computer Science graduate with 8 years of experience in developing web applications using Django or Flask frameworks. I have hands-on experience in developing containerized applications using Docker, creating and implementing REST APIs, working with RDBMS and integrating third party services like AWS and Stripe. I always keep code in a version control primarily using Git.
          </p>
          <p class="card-text">
            In addition to that, I have extensively used jQuery, CSS3 and HTML to design intuitive and responsive UI like this website. Moreover, I used ReactJS in my personal projects so as to learn it.
          </p>
          <p class="card-text">
            Furthermore, I am a passionate programmer and a quick learner with an eye for latest technologies. I have good communication skills in English and have always worked collaboratively in teams to achieve common goals.
          </p>
          <p class="card-text">
            Overall, I am a friendly person with a can-do attitude who is loyal to the organization and strives to give the best effort for the significant improvement of the work entrusted. I am looking for an opportunity to build innovative products in a fast paced and internationally oriented company alongside a team who love what they do as much as I do.
          </p>
          <a href="#" class="btn btn-primary">Download Resume</a>
        </div>
      </div>
    </div>
  </div>
</div>
