<a class="btn btn-secondary {{btn_size}}" target="_casa_github" href="{% url 'redirect_to' 'github' %}" role="button">
    <i class="fab fa-github"></i>&nbsp;GitHub
</a>
<a class="btn btn-info {{btn_size}}" target="_casa_linkedin" href="{% url 'redirect_to' 'linkedin' %}" role="button">
    <i class="fab fa-linkedin"></i>&nbsp;LinkedIn
</a>
<a class="btn btn-success {{btn_size}}" target="_casa_medium" href="{% url 'redirect_to' 'medium' %}" role="button">
    <i class="fab fa-medium"></i>&nbsp;Medium
</a>
