{% load wagtailcore_tags %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-light">
                <div id="contact" class="card-body">
                    <h5 class="card-title text-center">
                        {% with heading=page.contact.0 %}
                            {{heading.value}}
                        {% endwith %}
                    </h5>
                    <p class="card-text">
                        {% with para=page.contact.1 %}
                            {{para.value | richtext}}
                        {% endwith %}
                    </p>
                    <div class="text-center">
                        <!-- placeholder for CTA. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>