<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-light">
                <div id="contact" class="card-body">
                    <h5 class="card-title text-center">Contact</h5>
                    <p class="card-text">
                        I am excited to elaborate on how my proven skills and abilities will benefit your organization. I am available for a quick chat between <i>5:30pm and 7:00pm IST</i> throughout the week. Please contact me at <a href="mailto:{{CONTACT_EMAIL}}">{{CONTACT_EMAIL}}</a> to arrange for a convenient meeting time.
                    </p>
                    <div class="text-center">
                        {% include "partials/_cta.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>