<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card border-light text-center">
        <div class="card-body">
          <h5 class="card-title">Skills</h5>
          <div class="list-group text-center">
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Backend</h5>
              </div>
              <p class="mb-1">
                <span class="badge badge-secondary p-3">Python</span>&nbsp;<span class="badge badge-secondary p-3">Django</span>&nbsp;<span class="badge badge-secondary p-3">Flask</span>&nbsp;<span class="badge badge-secondary p-3">JSON</span>&nbsp;<span class="badge badge-secondary p-3">AJAX</span>&nbsp;<span class="badge badge-secondary p-3">REST APIs</span>&nbsp;<span class="badge badge-secondary p-3">MVC</span>&nbsp;<span class="badge badge-secondary p-3">SQLAlchemy</span>&nbsp;<span class="badge badge-secondary p-3">AWS S3</span>&nbsp;<span class="badge badge-secondary p-3">Django Rest Framework</span>&nbsp;<span class="badge badge-secondary p-3">unittests</span>
              </p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Frontend</h5>
              </div>
              <p class="mb-1">
                <span class="badge badge-secondary p-3">jQuery</span>&nbsp;<span class="badge badge-secondary p-3 font-weight-lighter">ReactJS</span>&nbsp;<span class="badge badge-secondary p-3">CSS</span>&nbsp;<span class="badge badge-secondary p-3">HTML</span>&nbsp;<span class="badge badge-secondary p-3">Bootstrap</span>&nbsp;<span class="badge badge-secondary p-3">Responsive Design</span>&nbsp;<span class="badge badge-secondary p-3">ES6</span>
              </p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Database</h5>
              </div>
              <p class="mb-1">
                <span class="badge badge-secondary p-3">PostgreSQL</span>&nbsp;<span class="badge badge-secondary p-3 font-weight-lighter">MySQL</span>
              </p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">DevOps</h5>
              </div>
              <p class="mb-1">
                <span class="badge badge-secondary p-3">Docker</span>&nbsp;<span class="badge badge-secondary p-3">Docker Swarm</span>&nbsp;<span class="badge badge-secondary p-3">AWS</span>&nbsp;<span class="badge badge-secondary p-3">Heroku</span>&nbsp;<span class="badge badge-secondary p-3 font-weight-lighter">Jenkins CI</span>
              </p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Basics</h5>
              </div>
              <p class="mb-1">
                <span class="badge badge-secondary p-3">OOP Design</span>&nbsp;<span class="badge badge-secondary p-3">Data Structures</span>&nbsp;<span class="badge badge-secondary p-3">Algorithms</span>
              </p>
            </div>
          </div>
        </div>
        <div class="card-body">
          {% include "partials/_cta.html" %}
        </div>
      </div>
    </div>
  </div>
</div>