{% load static %}
{% load wagtailcore_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/casa.css' %}">

    <title>{% block title %}{{page.title}}{% endblock %}</title>
  </head>
  <body>
    {% block header %}
      {% include "partials/_navbar.html" %}
    {% endblock %}
    <main>
      {% include "partials/_flash_messages.html" %}
      {% block content %}{% endblock %}
    </main>
    {% block footer %}
      {% include "partials/_footer.html" %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/fontawesome/all.min.js' %}"></script>
    {% if CAPTCHA_PUBLIC_KEY %}
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endif %}
    {% block extra_script %}{% endblock %}
  </body>
</html>
